:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
 
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
 
/* Algemene stijl voor de scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
 
/* Achtergrond van de scrollbar */
::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 10px;
}
 
/* Scrollbar zelf */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
 
/* Scrollbar tijdens hover */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}